
body {
  font-family: Arial, sans-serif;
  background-color: #111; 
  color: #f2f2f2; 
  margin: 0;
  padding: 0;
}


header {
  text-align: center;
  padding: 20px;
  /* color mas clarito para el header */
  background-color: #222; 
   border-bottom: 2px solid red; 
  
}


header h1 {
  color: red; 
  font-size: 2.5em;
  margin-top: 10px;
}

/* Estilo de la barra de navegación */
.navbar {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
}

.navbar a {
  color: #f2f2f2;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  /* Efecto al pasar el cursor en rojo */
  background-color: red; 
  color: #fff;
}

/*Busqueda */
form {
  text-align: center;
  margin: 20px;
}

form input[type="text"] {
  padding: 10px;
  width: 200px;
  border: 2px solid red;
  border-radius: 5px;
  background-color: #333;
  color: #f2f2f2;
}

form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: red;
}

/*Secciones */
main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #222; 
  border-radius: 5px;
  border-left: 5px solid red 
}

section h2 {
  color: red;
  font-size: 2em;
  margin-bottom: 15px;
}

section p {
  font-size: 1.2em;
  line-height: 1.6;
}


footer {
  background-color: #222;
  padding: 20px;
  text-align: center;
  border-top: 2px solid red;
}

footer a {
  color: red;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

footer a:hover {
  text-decoration: underline;
}

table {
  width: 25%; 
  font-family: Arial, sans-serif;
  
}

th, td {
  padding: 15px; 
  text-align: center;
  border: 1px solid #444; 
  color: #f2f2f2; 
}

 /* Desde aca cosas añadidas para el Tp2 */

 body {
  font-family: Arial, sans-serif;
}


.carousel {
  width: 100%;
  max-width: 800px; 
  position: relative;
  margin: auto;
  overflow: hidden;
}

.carousel img {
  width: 100%;
  height: auto;
  display: none; 
}

.carousel img.active {
  display: block; 
}


#descripcion {
  text-align: center;
  margin-top: 20px;
}

#pilotoImagen img {
  width: 300px;  
  height: 200px;
  object-fit: cover; 
}

