<!DOCTYPE html>
<html lang="es">
<html>
<head>
    <meta charset="Latin-1">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    
    <header>
        <img src="Imagenes/F1.jpeg" alt="Logo de la F1" width="200" height="150"><br><br>
        <h1> Mi página de Formula 1</h1>
        <div class="navbar">
            <a class="active" href="index.html">Inicio</a>
            <a href="Pilotos.html">Pilotos</a>
            <a href="Pistas.html">Pistas</a>
            <a href="Posiciones.html">Posiciones</a>
        </div>
        <br>
    </header>
    <hr>

    <form >
        <!--  Busqueda -->
        <input type="text" placeholder="Buscar">
        <!-- Boton para buscar -->
        <button type="submit">Buscar</button>
    </form>

    <main>

        <section id="novedad">
            <h2>Franco Colapinto a la Formula 1</h2>
            <p>En el transcurso de la mañana se conocio la noticia de que el piloto Argentino correra lo que queda del año para la escuderia de Williams</p>
        </section>
        
        <section id="Fechas">
            <h2>Semana de Carrera </h2>
            <p>Este fin de semana se correra en el Gran Premio de Italia (Autodromo Nazionale Monza) Mantente informado </p>
        </section>
    </main>
    <hr>
    
    <footer>
        <a href="https://www.instagram.com/exe_alde/">instagram.com/exe_alde</a>
    </footer>
</body>
</html>